Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

Exercise 3 - Create a markdown cell for an introduction. (1 pt)

Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)

Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

Exercise 11 - Create a markdown cell to indicate the Author’s name. (2 pts)

Exercise 12 - Share your notebook through GitHub (3 pts)

Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

In [ ]:
Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# My Jupyter Notebook

In [ ]:
Exercise 3 - Create a markdown cell for an introduction. (1 pt)

**Tzuyen Yeh**

I am expecting for a Machine Learning Engineer job.

In [ ]:
Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

* data science languages
  * Python
  * R
  * SQL
  * Java
  * Julia
  * Scala
  * C/C++
  * JavaScript
  * Swift
  * Go
  * MATLAB
  * SAS

In [ ]:
Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

A. Python Libraries for Math
  1. NumPy 
  2. SciPy
  3. Theano  

B. Python Libraries for Data Exploration and Visualization 
  1. Pandas  
  2. Matplotlib   
  3. Plotly  
  4. Seaborn  
  5. Ggplot
  6. Altair  
  7. Autoviz  
  8. Pydot 

C. Python Libraries for Machine Learning 
  1. Keras  
  2. SciKit-Learn  
  3. PyTorch
  4. Pycaret 
  5. TensorFlow
  6. Requests 

D. Python Libraries for Data Mining and Data Scrapping 
  1. Scrapy  
  2. BeautifulSoup   
  3. SQLAlchemy  

E. Python Libraries For Natural Language Processing 
  1. NLTK 
  2. SpaCy 
  3. Gensim  

F. Bonus Python Libraries!
  1. OpenCV
  2. Mahotas
  3. SimpleITK
  4. Pillow  
  5. Selenium 
  6. PyTest 
  7. PyUnit

In [ ]:
Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

|number|18 data science tools to consider using in 2023|
|------|-----------------------------------------------|
|1|Apache Spark|
|2|D3.js|
|3|IBM SPSS|
|4|Julia|
|5|Jupyter Notebook|
|6|Keras|
|7|Matlab|
|8|Matplotlib|
|9|NumPy|
|10|Pandas|
|11|Python|
|12|PyTorch|
|13|R|
|14|SAS|
|15|Scikit-learn|
|16|SciPy|
|17|TensorFlow|
|18|Weka|

In [ ]:
Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

### print a 9*9 mutiple table ###

In [1]:
for j in range(1,10):
    for i in range(2,10):
        print("{}*{}={:2}" .format(i,j,i*j),end=" ")
    print()

2*1= 2 3*1= 3 4*1= 4 5*1= 5 6*1= 6 7*1= 7 8*1= 8 9*1= 9
2*2= 4 3*2= 6 4*2= 8 5*2=10 6*2=12 7*2=14 8*2=16 9*2=18
2*3= 6 3*3= 9 4*3=12 5*3=15 6*3=18 7*3=21 8*3=24 9*3=27
2*4= 8 3*4=12 4*4=16 5*4=20 6*4=24 7*4=28 8*4=32 9*4=36
2*5=10 3*5=15 4*5=20 5*5=25 6*5=30 7*5=35 8*5=40 9*5=45
2*6=12 3*6=18 4*6=24 5*6=30 6*6=36 7*6=42 8*6=48 9*6=54
2*7=14 3*7=21 4*7=28 5*7=35 6*7=42 7*7=49 8*7=56 9*7=63
2*8=16 3*8=24 4*8=32 5*8=40 6*8=48 7*8=56 8*8=64 9*8=72
2*9=18 3*9=27 4*9=36 5*9=45 6*9=54 7*9=63 8*9=72 9*9=81

It is a mutiple table, using two for loops. 
First, set a variable j,its range from 1 to 9 (not equal to 10), to run every elements(2 ~ 9) * 1.
Second,  set another variable i,its range from 2 to 9 (not equal to 10), to run every elements(2 ~ 9) in the front of the expression.
Third, print in format, i, j, i * j. i * j takes two spaces including the printing number. "end" is to let the buttom of every expressions can connect to next expression.
At last, "print()" can new a line to let the next 8 expressions print in the new line.

In [ ]:
Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)

In [4]:
ans = (1*2)+3
ans

5

In [ ]:
Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [5]:
min=160
hour= min /60
hour

2.6666666666666665

In [ ]:
Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

In [ ]:
Exercise 11 - Create a markdown cell to indicate the Author’s name. (2 pts)

**Tzuyen Yeh**

In [ ]:
Exercise 12 - Share your notebook through GitHub (3 pts)

In [ ]:
Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)